<%- include ../layouts/cabecera.ejs %>
<form action="/libros" method="post" enctype="multipart/form-data" >

    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>
      <input type="text" name="nombre" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Imagen</label>
      <input type="file" class="form-control" name="archivo" >
    </div>

    <button type="submit" class="btn btn-secondary">Guardar</button>

    

</form>
<%- include ../layouts/pie.ejs %>